
<button
  type="button"
  class="flex mx-3 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 dark:bg-white"
  id="user-menu-button"
  aria-expanded="false"
  data-dropdown-toggle="dropdown"
>
  <span class="sr-only">Open user menu</span>
  <img
    class="w-8 h-8 rounded-full"
    src="https://img.icons8.com/material-rounded/24/user-male-circle.png" alt="user-male-circle"
    />
</button>

  <div
    class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
    id="dropdown">
    <AuthorizeView Context="auth">
    <div class="py-3 px-4">
      <span
        class="block text-sm font-semibold text-gray-900 dark:text-white"
        >@auth.User.Identity?.Name</span>
      <span
        class="block text-sm text-gray-900 truncate dark:text-white">@auth.User.Claims.Where(c => c.Type == "email").FirstOrDefault()?.Value.ToString()</span>
    </div>
    <ul
      class="py-1 text-gray-700 dark:text-gray-300"
      aria-labelledby="dropdown">
      <li>
        <a
          href="/my-account/@id"
          class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
          >My profile</a>
      </li>
      @* <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
          >Account settings</a>
      </li> *@
    </ul>
    <ul
      class="py-1 text-gray-700 dark:text-gray-300"
      aria-labelledby="dropdown">
      <li>
        <a
          @onclick="LogOut"
          class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >Sign out</a>
      </li>
    </ul>
    </AuthorizeView>
  </div>



@code {

  private Guid id { get;set; }
  protected override async Task OnInitializedAsync()
  {
    id = await localStorage.GetItemAsync<Guid>("uid");
    await base.OnInitializedAsync();
  }
  
  private async Task LogOut()
  {
    await localStorage.RemoveItemAsync("uid");
    await localStorage.RemoveItemAsync("token");
    await localStorage.RemoveItemAsync("shopId");
    nav.NavigateTo("/", true);
  }
}