<span class="@GetProductBadgeClass(Product) text-xs font-medium px-2.5 py-0.5 rounded-full">
    @GetProductDisplayName(Product)
</span>


@code {
    [Parameter]
    public Product Product { get; set; }

    private string GetProductBadgeClass(Product product)
    {
        return product switch
        {
            Product.CNG => "bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300",
            Product.PMS => "bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300",
            Product.ATK => "bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300",
            Product.LPG => "bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300",
            _ => "bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300"
        };
    }

    private string GetProductDisplayName(Product product)
    {
        return product switch
        {
            Product.CNG => "CNG",
            Product.PMS => "PMS",
            Product.ATK => "ATK",
            Product.LPG => "LPG",
            _ => product.ToString()
        };
    }
}